.main__section-wspp {
    position: fixed;
    right: 0;
    bottom: 0;
}

.main__section-wspp__container-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main__section-wspp__container-item--span {
    background-color: var(--fondoSpanWspp);
    width: 100%;
    border-radius: 5px;
    margin-right: 5px;
    padding: 7px;
    font-size: .8em;
    transition: width .7s, font-size .7s, opacity .7s;
}

.main__section-wspp__container-item--spanOff {
    width: 0;
    font-size: 0;
    opacity: 0;
}

.main__section-wspp__container-item--i {
    background-color: var(--colorLetraWspp);
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 2.1em;
    color: var(--colorLetra2);
}